<!doctype html>
<html lang="pt-br">
  <head>
    <title>Drink's Outlaw - Cadastro</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      

    <div class="container">
        <h1>Drink's Outlaw - Bebidas Clandestinas</h1>
            <h2>Cadastro</h2>

            <form method="POST" action="/cadastrar">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" name="nome" id="nome" class="form-control" th:value="${bebida.nome}">
                </div>

                <div class="form-group">
                    <label for="nome">Descrição</label>
                    <input type="text" name="descricao" id="descricao" class="form-control" th:value="${bebida.descricao}">
                </div>

                <div class="form-group">
                    <label for="nome">Fabricante</label>
                    <input type="text" name="fabricante" id="fabricante" class="form-control" th:value="${bebida.fabricante}">
                </div>

                <div class="form-group">
                    <label for="nome">Teor alcólico</label>
                    <input type="text" name="teor" id="teor" class="form-control" th:value="${bebida.teor}">
                </div>

                <div class="form-group">
                    <label for="nome">Preço</label>
                    <input type="text" name="preco" id="preco" class="form-control" th:value="${bebida.preco}">
                </div>

                <input type="hidden" name="id" th:value="${bebida.id}">

                <input type="submit" name="enviar" id="enviar">

            </form>
            

        <a href="/">Voltar</a>

      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>